
.skills {
  list-style: none;
  padding: 0;

  .skill {
    display: inline-block;
    margin: 2px 5px;
    padding: 5px;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0;
    }
    &::before {
      z-index: 2;
      background: #ddd;
      width: 100%;
    }
    &::after {
      background: #777;
      z-index: 3;
      transition: 1s ease-out;
      transform: scaleX(0);
      transform-origin: left;
    }

    &.w-1::after {
      width: 10%;
    }
    &.w-2::after {
      width: 20%;
    }
    &.w-3::after {
      width: 30%;
    }
    &.w-4::after {
      width: 40%;
    }
    &.w-5::after {
      width: 50%;
    }
    &.w-6::after {
      width: 60%;
    }
    &.w-7::after {
      width: 70%;
    }
    &.w-8::after {
      width: 80%;
    }
    &.w-9::after {
      width: 90%;
    }
    &.w-10::after {
      width: 100%;
    }

    &.compiled::after {
      transform: scaleX(1);
    }
  }
}

