<div class="default">
    <div class="block">
        <h1 class="name">{{info.personal.firstName}} {{info.personal.lastName}}</h1>
        <div class="contact">
            <span class="contact-item">{{info.contact.address}}</span> |
            <span class="contact-item">{{info.contact.phone}}</span> |
            <span class="contact-item">{{info.contact.email}}</span> |
            <span class="contact-item"><a class="link" ng-href="{{'http://'+info.contact.website}}" target="_blank">{{info.contact.website}}</a></span>
        </div>
            </div>
    <div class="block">
        <h2>{{ 'profile' | translate }}</h2>
        <p>{{info.summary}}</p>
    </div>
    <div class="block">
        <h2>{{ 'technicalSkills' | translate }}</h2>
        <ul class="skills" >
            <li ng-repeat="skill in info.skills" ng-attr-title="{{skill.level}} / 10" class="skill" ng-class="getSkillClass(skill)"><span>{{skill.name}}</span>
                <div class="progress-bar-bg">&nbsp;</div><div class="progress-bar" ng-class="getSkillClass(skill)">&nbsp;</div>
            </li>

        </ul>
    </div>
    <div class="block">
        <h2>{{ 'workExperience' | translate }}</h2>
        <ul class="experience">
            <li class="job" ng-repeat="job in info.experience">
                <div class="time">{{job.from}} - {{ job.to}}</div>
                <div class="job-title">{{job.title}}</div>
                <div class="job-company">{{job.company}}</div>
                <div class="job-description">{{job.description}}</div>
            </li>
        </ul>
    </div>
    <div class="block">
        <h2>{{ 'education' | translate }}</h2>
        <ul class="education">
            <li class="school" ng-repeat="school in info.education">
                <div class="time">{{school.from}} - {{ school.to}}</div>
                <div class="degree">{{school.degree}}</div>
                <div class="school-name">{{school.name}}</div>
            </li>
        </ul>
    </div>
    <div class="block">
        <h2>{{ 'volunteerExperience' | translate }}</h2>
        <ul class="volunteer">
            <li class="event" ng-repeat="event in info.volunteer">
                <div class="time">{{event.date}}</div>
                <div class="event-name">{{event.name}}</div>
                <div class="event-description">{{event.description}}</div>
            </li>
        </ul>
    </div>
    <div class="block">
        <h2>{{ 'langSkills' | translate }}</h2>
        <ul class="languages">
            <li class="lang" ng-repeat="lang in info.languages">
                <span class="lang-name">{{lang.name}}</span>
                <span class="lang-level">{{lang.level}}</span>
            </li>
        </ul>
    </div>
    <div class="block">
        <h2>{{ 'hobbies' | translate }}</h2>
        <ul class="hobbies">
            <li ng-repeat="hobby in info.interests track by $index"> {{hobby}}</li>
        </ul>
    </div>
    <div class="footer" ng-if="info.clause">{{info.clause}}</div>
</div>